body{
    min-width:600px;

    width: 980px;
    height: auto;
    align-items: center;
   background-color: black;
   
}

html{
    min-width: 600px;
    width:980px;
    
    
    
}

.banner{
    min-width:600px;
    width:980px;
    background-image: url(img/banner2.jfif);
    height: 350px;
    margin-top:0;
    border: 5px red solid;
    

  

}

.content{
    display: grid;
    grid-template-columns:repeat(4, 235px);
    grid-template-rows:400px;
    gap:15px;
    min-width:400px;
    height:auto;
    margin-left:0;
    
}



.pedido{

    display:flexbox;
    justify-content: space-between;
    

  font-size: 10px;
  color: black;

    margin-left: 5px;

    width: 300px;
    
    height: 600px;
    background-color:black;

    padding: 35px;
    
}

.nav a:hover{
    
    text-transform: uppercase;
    
}
.content img{

    width: 190px;
    height: 130px;
    border: 2px solid black;
    box-shadow: 4px 4px  4px black;
    text-align:justify;
}
img{
    border-radius: 25px;
   
}



h1{
    font-size:50px;
    font-family: cursive;
    margin-left: 50px;
    color: brown;
    font-style: italic;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    

}
.content p{
    font-size: 1.8rem;
    text-align:right;
    color: rgb(36, 30, 25);
    font-family:cursive;
    font-weight: 100;
    font-style:italic;

    text-shadow: 2px 2px white;
}


#produtos{
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    width: 400px;
    height: 180px;
    font-size: 10px;
    background-color: beige;
    padding: 30px;

}

#produtos h2{
    font-size: 10px;
    color: black;
    margin-left: 0;


}


#produtos img{
    width: 80px;
    height: 80px;
}
#produtos a{
    font-size: 10px;
    color:blue;
    margin-left: 0;

   
}

#carrinho{
    display: flexbox;
    margin-left: 10px;
    font-size: 20px;
    color: black;
    margin-right: 200px;
    background-color: gray;
    width: 400px;
   padding:20px;

}


.nav li{
 
   
    display: inline-block;
    font-size: 1.6em;
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
    margin-left: 20px;
    
 
}

a{
    text-decoration: none;
    color:white;
    font-size: 30px;
    font-weight: bolder;
   font-style: italic;
   text-shadow: 2px 2px 2px chocolate;
    
}

.nav{
    position:relative;
    width:500px;
    margin-left:20px;
    

    background-color: rgba(110,255,127, alpha);
}

.footer{
    font-size: 1rem;
    text-align: center;
    background-color: darkgray;
    width:750px;
    margin-left:-10px;
    background-color:rgba(155,155,255);
  
   position: absolute;
    padding: 3px;
    opacity: 0.5;
}

.card1 ,.card2 ,.card3, .card4{
    box-sizing: border-box;
    
    border: white solid 2px;
    border-radius: 30px;
   
    gap: 10px;
    padding: 10px;
    background-color: rgba(200,200,110, 80% );
    
    
}


.corpo img{
    width: 740px;
    height: 300px;
    margin-left:0;
    border: 2px solid white;
    
    
}

.total{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 200px;

}

h2{
    font-family: cursive;
    font-size: 30px;
    color: white;
    width: 600px;
    margin-left: 50px;
    text-shadow: 2px 3px 4px green;
}